@use '../../scss/abstract/mixins' as *;

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-text-color);
    font-size: 12px;
    font-weight: 500;
    line-height: 1.33;
    text-transform: uppercase;
    height: 44px;
    background: none;
    border-radius: 5px;
    border: 1px solid var(--primary-text-color);
    transition: color var(--transition), background-color var(--transition), border var(--transition);

    &:hover, &:focus, &.selected {
        color: var(--light-text-color);
        background-color: var(--accent-color);
        border: 1px solid var(--accent-color);
    }

    @include tablet {
        padding: 0 5px;
    }

    @include desktop {
        padding: 0 10px;
    }
}

