:root {
    --accent-color: rgba(255, 107, 8, 1);
    --primary-text-color: rgba(0, 0, 0, 1);
    --header-text-color: rgba(255, 255, 255, 1);
    --error-text-color: rgba(255, 0, 27, 1);
    
    --button-shadow-color: rgba(255, 107, 1, 0.6);
    --header-shadow-bg: rgba(0, 0, 0, 0.56);
    --pagination-button-bg: rgba(247, 247, 247, 1);
    --footer-bg: rgba(247, 247, 247, 1);
}

$tablet-break-point: 768px;
$desktop-break-point: 1024px;