@use '../../scss/abstract/mixins' as *;

.modal-backdrop {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    animation: backdrop 200ms;
}

.modal-container {
    position: relative;
    height: fit-content;
}

.modal {
    position: relative;
    background-color: var(--modal-bg);
    border-radius: 5px;
    animation: modal 200ms;

    &__content-wrapper {
        max-height: 90vh;
        display: flex;
        flex-direction: column;
        padding: 48px 20px 41px;
        overflow-y: auto;

        @include tablet {
            flex-direction: row;
            padding: 42px 30px 40px;
            overflow-y: unset;
        }
    
        @include desktop {
            padding: 50px 30px 40px;
        }
    }

    &__poster-container {
        margin-bottom: 30.5px;

        @include tablet {
            display: flex;
            justify-content: center;
            flex-shrink: 0;
            width: 264px;
            margin-bottom: 0;
            margin-right: 32px;
            overflow-y: hidden;
        }

        @include desktop {
            width: 396px;
            margin-right: 30px;
        }
    }

    &__poster {
        height: 100%;
        max-width: 100%;
        border-radius: 5px;

        @include tablet {
            height: fit-content;
            max-height: 100%;
            width: auto;
        }
    }

    &__poster-substitute {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        min-height: 100%;
        width: 100%;
        padding: 50px 0;
        margin-bottom: 30.5px;
        border-radius: 5px;
        background-color: var(--image-substitute-bg);

        @include tablet {
            max-width: 264px;
            margin-bottom: 0;
            margin-right: 32px;
        }

        @include desktop {
            max-width: 396px;
            margin-right: 30px;
        }
    }

    &__poster-substitute__icon {
        height: 75px;
        width: 75px;
        fill: var(--light-text-color);

        @include tablet {
            
        }
    }
}

.modal__close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 30px;
    width: 30px;
    background: var(--modal-bg);
    border-radius: 50%;

    &__icon {
        height: 30px;
        width: 30px;
        stroke: var(--primary-text-color);
        transition: stroke var(--transition);
    }

    &:hover &__icon, &:focus &__icon {
        stroke: var(--accent-color);
    }
}

.modal__information {
    display: flex;
    flex-direction: column;
    align-items: start;
    font-size: 12px;
    font-weight: 500;
    width: 100%;

    @include tablet {
        max-height: 100%;
        overflow-y: auto;
    }

    &__title {
        font-size: 20px;
        line-height: 1.17;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    &__subtitle {
        line-height: 1.33;
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    &__description {
        line-height: 1.66;
        margin-bottom: 20px;
    }

    &__buttons-container {
        display: flex;
        width: 100%;
    }
}

.modal__information__list {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.33;
    width: 100%;
    margin-bottom: 20px;

    &__element {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }

    &__key, &__value {
        width: 50%;
    }

    &__key {
        color: var(--secondary-text-color);
    }

    &__value.title {
        text-transform: uppercase;
    }

    &__value.vote {
        display: flex;
        flex-direction: row;
        align-items: center;
        color: var(--secondary-text-color);
        line-height: 1.17;
    }

    &__value .vote-count {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        color: var(--primary-text-color);
        height: 16px;
        width: 36px;
        margin-left: 3px;
        background-color: var(--secondary-button-bg);
        border-radius: 5px;
    }

    &__value .vote-average {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        color: var(--light-text-color);
        height: 16px;
        width: 36px;
        margin-right: 3px;
        background-color: var(--accent-color);
        border-radius: 5px;
    }
}

.modal__action-button {
    width: calc((100% - 15px) / 2);
    max-width: 136px;

    &:first-child {
        margin-right: 15px;
    }
}

@keyframes modal {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }

}

@keyframes backdrop {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}