@use '../../../../scss/abstract/mixins' as *;

.navlinks-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 46px;
}

.navlink {
    display: flex;
    justify-content: center;
    color: var(--light-text-color);
    font-size: 12px;
    font-weight: 500;
    line-height: 1.33;
    text-transform: uppercase;
    height: 44px;
    padding: 14px;
    width: 100%;
    background: none;
    border-radius: 5px;
    border: 1px solid var(--light-text-color);
    transition: color var(--transition), background-color var(--transition), border var(--transition);

    @include tablet {
        width: 136px;
    }

    &:hover, &:focus, &--selected {
        color: var(--light-text-color);
        background-color: var(--accent-color);
        border: 1px solid var(--accent-color);
        box-shadow: 0 8px 43px var(--button-shadow-color);
    }

    
    &:first-child {
        margin-right: 20px;
    }
}

